# Gradle
.gradle/
build/
*.apk
*.aar

# Android Studio
.idea/
.DS_Store
*.iml
*.log
local.properties

# Dependencias
.m2/

# Archivos temporales
*.swp
*.swo
*~
.classpath
.project
.settings/
*.sublime-workspace

# Node (si usas)
node_modules/

# Otros
out/
captures/
